.contactsTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%; /* Full width of the container */
    max-width: 1200px; /* Maximum width to limit table width */
    margin: 0 auto; /* Center table horizontally */
    
}

.contactsTable td, .contactsTable th { /* Correct the selector here */
    border: 1px solid #ddd;
    padding: 12px; /* Increased padding for better readability */
    font-size: 1em; /* Adjust font size if needed */
}

.contactsTable tr:nth-child(even) {
    background-color: #f2f2f2;
    color: black;
}

.contactsTable tr:hover {
    background-color: #ddd;
}

.contactsTable .contactEmpty{
    background-color: lightgray;
    color: gray
}

.contactsTable th {
    padding-top: 16px; /* Increased padding for header */
    padding-bottom: 16px; /* Increased padding for header */
    text-align: center;
    background-color: #4687ff;
    color: white;
    font-size: 1.1em; /* Slightly larger font size for header */
}



