#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


form.create-contact input,
form.create-contact textarea {
  width: 50%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1em;
  resize: none;
  margin: 5px;
  text-align: center;
  background-color: lightgray;
  border-radius: 10px;
  

  /*
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  margin: 10px;
  text-align: center;
  
  */
}

form.create-contact button{
  display:block;
  margin: 10px auto;
  width: 50%;
}
